<div class="columns is-multiline">

  <div class="column has-background-light is-3by1">
    <img src="https://blog.exitbee.com/wp-content/uploads/2016/03/about-us.jpg">
  </div>


  <div class="column is-full">
    <p class="subtitle is-3"> Mes esame bendraminciai kurie megsta dometis ivairiais dalykais, bei apie tai diskutuoti su kitais.
    Esame zmoniu grupe, kuriems idomi kitu nuomone, bei jos isklausyti - suprasti. Visi turime skirtingu dominanciu dalyku todel
    padareme kategorijas, kad galetum ieskoti idomios informacijos pagal kategorija.</p>
  </div>

  <div class="column .is-centered">
     <a href="/articles"><button class="button is-primary is-large">PRADEKITE SKAITY STRAIPSNIUS JAU DABAR</button></a>
  </div>

</div>
